<%- include('partials/_head.ejs') %>

	<body>
		<h1>Super secret login !</h1>
		<form action="/login" method="POST">
			<input type="text" name="email" placeholder="Type your email">
			<input type="password" name="password" placeholder="Type your password">
			<button type="submit">Log in</button>
		</form>
		<% if(error){ %>
			<section>
				<h1>Error</h1>
				<p>
					<%= error %>
				</p>
			</section>
			<% } %>

	</body>

	</html>